.repl_history
ib.xcodeproj
build
tags
resources/*.nib
resources/*.momd
resources/*.storyboardc
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
.eprj
.sass-cache
.idea
.dat*.*
vendor/Pods
vendor/*/build-iPhoneSimulator
vendor/*/build-iPhoneOS
